#griddingContainer{
    display:flex;
    padding-left: 30px;
}

#gridCell {
    width: 30%;
}

#nftImgCont {
    height: 55%;
    display: flex;
    justify-content: center;
}

#nftImg {
    height: 30vh;
}

#nftNameCont {
   height:5%;
   width: 100%;
   text-align: center;
}
#nftBidCont {
   height:5%;
   width: 100%;
   text-align: center;
}
#nftEndCont {
    height:5%;
    width: 100%;
    text-align: center;
 }
 

#sellButtonCont {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}