@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#background {
    background-image: url("./images/muralbackgroundhighcontrast.jpg");
    min-height: 600px;
    max-height: 600px;
    min-width: 300px;
    mix-blend-mode: hard-light;
    opacity: .8;
}

#background::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    min-height: 700px;
    width: 100%;
    background: linear-gradient(transparent, white);
    pointer-events: none;
  }
  

  #textDiv {
      position: absolute;
      top: 170px;
      left: 80px;
      padding-left: 30px;
      
      min-width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 45vw;
      font-family: 'Montserrat', sans-serif;
      
  }

  #mainText {
    font-size: 46px;
    font-weight: bold;
  }

  #secondaryText {
    font-size: 28px;
    padding-top: 30px;
  }

 #previewCard {
    position: absolute;
    top: 150px;
    left: 900px;
    padding-left: 0px;

    min-width: 300px;
    max-width: 300px;

    min-height: 500px;
    max-height: 500px;
    background-color: transparent;
    border-radius: 20px;
    
}

#cardImage {
    min-width: 300px;
    max-width: 300px;
    min-height: 360px;
    max-height: 360px;
    border-radius: 10px;
}

#cardTextContainer {
    text-align: center;
}

#cardTitleText {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;

}

#cardDescriptionText {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
    #previewCard {
      display: none;
    }

    #previewCard {
        max-width: 0px;
    }
  }