.div-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 37px 0px 64px 0px;
    height: 100%;
    width: 100%;
    box-shadow: 0px, 4px, 4px,rgba(0, 0, 0, 0.25);
    background: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: #000000;
    text-align: center;
  }
  .div-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    font-size: 24px;
    line-height: 28px;
  }
  .img-1 {
    height: 68px;
    width: 234px;
    margin: 0px 0px 0px 0px;
  }
  .div-4 {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    padding: 8px 47px 8px 16px;
    margin: 0px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #ffffff;
  }
  .img-2 {
    height: 26px;
    width: 27px;
    margin: 0px 0px 0px 0px;
  }
  .span-1 {
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 0px 0px;
    color: rgba(0, 0, 0, 0.5);
  }
  .span-2 {
    margin: 0px 0px 0px 0px;
  }
  .img-3 {
    height: 55px;
    width: 55px;
    margin: 0px 0px 0px 0px;
  }
  .img-4 {
    border-radius: 20px;
    height: 814px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 46px 64px 64px 64px;
    margin: 8px 0px 0px 0px;
  }
  .div-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0px 0px 0px 0px;
  }
  .img-5 {
    height: 568px;
    width: 473px;
    margin: 0px 0px 0px 0px;
  }
  .button-add-7 {
    border-radius: 20px;
    padding: 22px 19px 17px 20px;
    margin: 0px 0px 0px 0px;
    background: #ce4257;
  }
  .span-7 {
    color: #ffffff;
  }
  .button-8 {
    border-radius: 20px;
    padding: 22px 18px 11px 17px;
    margin: 0px 0px 0px 42px;
    background: #ff9b54;
  }
  .span-8 {
    color: #4f000b;
  }
  .div-9 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 76px 0px 0px 0px;
  }
  .div-10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 0px 0px 0px 0px;
  }
  .span-11 {
    margin: 0px 0px 0px 35px;
  }
  .div-11 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 86px 0px 0px 0px;
  }
  .div-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 86px 0px 0px 0px;
  }
  .span-14 {
    margin: 0px 0px 0px 33px;
  }
  .div-13 {
    border-radius: 20px;
    margin: 122px 0px 0px 0px;
    background: rgba(114, 0, 38, 0.8999999761581421);
  }
  .card-14 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 39px 64px 35px 54px;
    width: 100%;
    margin: 196px 0px 0px 0px;
    background: #f8f8f8;
  }
  .div-15 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 0px 0px;
  }
  .span-15 {
    font-size: 48px;
    line-height: 56px;
    margin: 0px 0px 0px 0px;
  }
  .div-16 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 70%;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .img-6 {
    height: 162px;
    width: 186px;
    margin: 0px 0px 0px 0px;
  }
  .img-7 {
    height: 165px;
    width: 231px;
    margin: 0px 0px 0px 0px;
  }
  .img-8 {
    height: 164px;
    width: 140px;
    margin: 0px 0px 0px 64px;
  }
  
  .span-18 {
    margin: 0px 0px 0px 64px;
  }
  .div-18 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1px 0px 0px 0px;
    font-size: 24px;
    line-height: 28px;
  }