.button-add-7 {
    border-radius: 20px;
    padding: 22px 19px 17px 20px;
    margin: 0px 0px 0px 0px;
    background: #ce4257;
  }
  .span-27 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    line-height: 42px;
    color: #ffffff;
  }