#griddingContainer{
    padding-left: 30px;
}

#gridCell {
    width: 30%;
}

#nftImgCont {
    height: 40%;
    display: flex;
    justify-content: center;
}

#nftImg {
    height: 30vh;
}

#nftNameCont {
   height:15%;
   width: 100%;
   text-align: center;
}
#nftSupplyCont {
    height:15%;
   width: 100%;
   text-align: center;
}

#sellButtonCont {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
}