@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#background {
    margin-top: 20px;
    margin-bottom: 110px;
    min-height: 600px;
    max-height: 600px;
    min-width: 300px;
    opacity: .9;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(transparent, white), url(../images/muralbackgroundhighcontrast.jpg);
}

  #textDiv {
      margin:auto;      
      min-width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 45vw;
      font-family: 'Montserrat', sans-serif;
      
  }

  #mainText {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    font-weight: bold;
    text-shadow: 0 15px 15px #e5e5e5, 0px -7px 1px #e5e5e5;
  }

  #secondaryText {
    font-size: 28px;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
  }
 #previewCard {
    margin:auto;  
    min-width: 300px;
    max-width: 300px;
    min-height: 500px;
    max-height: 500px;
    background-color: transparent;
    border-radius: 20px;
}

#cardImage {
    min-width: 300px;
    max-width: 300px;
    min-height: 360px;
    max-height: 360px;
    border-radius: 10px;
}

#cardTextContainer {
    text-align: center;
}

#cardTitleText {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;

}

#cardDescriptionText {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
    #previewCard {
      display: none;
    }

    #previewCard {
        max-width: 0px;
    }
  }

/* Changes made by David Liang to */
a:-webkit-any-link{
  background-color:transparent; 
  text-decoration:none;
  color: black;
}