#carTwoCardContainer {
    position: relative;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 10pt;
    opacity: .9;
    padding: 10pt;
    margin: auto;  
    width: 70%;
    transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    cursor: pointer;
}

#carTwoCardContainer:hover{
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  }

#carTwoImg {
    display: flex;
    justify-content: center;
    height: 250px;
}

#carTwoTitle {
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        position: flex;

}

#carTwoTopBid {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#carTwoDesc {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

