#carTwoCardContainer {
    border-radius: 20px;
    height: 80%;
    width: 80%;
    position: relative;
}

#carTwoImg {
    display: flex;
    justify-content: center;

}

#carTwoTitle {
    width: 100%;
    font-size: 26px;
    height: 20%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 12px;

    float: left;
    position: absolute;
    left: 0px;
    top: 90%;
    z-index: 1000;

}

#carTwoDesc {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

