#carTwoCardContainer {
    position: relative;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 10pt;
    opacity: .9;
    padding: 10pt;
    margin: 15px auto;
    width: 70%;
    transition: all .25s linear;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
    cursor: pointer;
}

#carTwoCardContainer:hover{
    box-shadow: rgb(0 0 0 / 7%) 0px 2px 4px 0px inset;
  }

#carTwoImg {
    display: flex;
    justify-content: center;
    height: 250px;
    /* height: 100%; */
    width: 100%;
    object-fit: contain;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}

#carTwoTitle {
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        position: flex;

}

#carTwoTopBid {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#carTwoDesc {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


