@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#categoryContainer {
    background-color: #F5F5F5;
    /* max-height: 100vh;
    min-height: 100vh; */
    margin-bottom: 5%;
    margin-top: 2%;

    /* -moz-box-shadow:    
        inset 0px 11px 8px -10px rgb(184, 184, 184),
        inset 0px -11px 8px -10px rgb(184, 184, 184);
   -webkit-box-shadow: 
        inset 0px 11px 8px -10px rgb(184, 184, 184),
        inset 0px -11px 8px -10px rgb(184, 184, 184);
   box-shadow: 
        inset 0px 11px 8px -10px rgb(184, 184, 184),
        inset 0px -11px 8px -10px rgb(184, 184, 184);  */
}


#categoryTitleContainer {
    padding-top: 20px;
    width: 100%;
    height: 10%;
    padding-bottom: 20px;
    text-align: center;
}

#categoryTitleText {
    font-family: 'Montserrat', sans-serif;
    color: #DA762F;
    font-size: 30px;
    /* padding-top: 10px; */
    width: 100%;
    height: 9%;
    
}


#collectionComponents {
    display: flex;
    justify-content:center;
    /* padding-left: 20px; */
    /* max-height: 85vh; 
    min-height: 85vh; */
    height: 100%;
    padding-bottom:4%;
}

#nftImage{
    height: 100%; 
    width: 100%;     
    object-fit: contain;
    margin: 15px;


}

#exploreButtonContainer {
    width: 95%;
    display: flex;
    padding-right: 15px;
    padding-bottom: 15px;

    justify-content: right;
    height: 6%;

}


.carousel-container {
    width: 100%;
    /* margin:auto; */
   }

/* .custom-dot-list-style{
    background-color: #DA762F;
} */