@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#collectionContainer {
    background-color: white;
    width: 90%;
    max-height:80vh;
    min-height:80vh;
    border: 1px solid rgb(49, 49, 49); 
    border-radius: 20px;
}

#collImgCont {
    height: 250px;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 10px;
}

#collTitleCont {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 12px;
    position: flex;
    height: 15%;

}

#collDescCont {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: flex;
    height: 25%;

}

